body {
    font-family: cursive;
}

div.site-content {
    margin-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    overflow: hidden;
    margin-left: 15%;
    margin-right: 15%;
}

#heading {
    display: flex;
    justify-content: center;
}

#msg{
    display: block;
    float: left;
    margin-left: 15%;
    margin-right: 4%;
    border-style: solid;
    border-radius: 5%;
    margin-bottom: 10%;
    padding: 1%;
    padding-right: 2%;
    white-space: nowrap;;
}

#subject{
    /* field-sizing: content; */
    width: 97%;
}

form{
    margin-top: 3%;
}

input{
    margin: 1%;
}

#head{
    margin-bottom: 0;
    padding-left: 3%;
}

section{
    display: flex;
    /* float: right; */
    min-width: 15%;
    flex-direction: column;
    border-style: solid;
    border-radius: 5%;
    margin-right: 15%;
    margin-bottom: 1%;
}

.button {
  background-color: #fdf6e3;
  border: none;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  transition-duration: 0.4s;
  margin-left: 30%;
}
.button:hover {box-shadow: 0 8px 16px 0 rgba(0,0,0,0.6);}