body {
    font-family: "Comic Sans MS", "Comic Sans", cursive;
}

div.content {
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    overflow: hidden;
}

aside {
    display: block;
    float: left;
    width: 50%;
    max-width: 250px;
    margin-left: 20%;
    margin-right: 5%;
}

.image {
    width: 200px;
    height: 200px;
    object-fit: cover;
}

p.content {
    padding-right: 20%;
    text-align: left;
}
ul{
    padding-left: 1%;
}
.quote{
    display: flex;
    margin-top: 1%;
    justify-content: center;
}

a.download {
    text-decoration: none;
    color: black;
}

a.download:hover {
    color: grey;
}