h1 {
    color: darkblue;
    font-size: 50px;
}

body{
    background: #fdf6e3;
}
p.important{
    text-align: center;
}
div.name,div.nav-bar{
    border-style: solid;
    border-color: black;
}

a.links{
    text-decoration: none;
    font-family: cursive;
    color: black;
    display: inline-flex;
}
a.lniks :hover{
    color: grey;
}
a.links :visited{
    text-decoration: none;
}