body {
    margin: 0;
    background: #fdf6e3;
}

div.nav-bar {
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding-right: 5%;
    padding-left: 1%;
    flex-wrap: wrap;
    font-size: x-large;
}

span.links {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10%;
    padding-right: 2%;
    padding-left: 8%;
}

a.name {
    text-decoration: none;
    font-family: "Comic Sans MS", "Comic Sans", cursive;
    color: black;
    padding-left: 1%;
}

a.links {
    text-decoration: none;
    font-family: "Comic Sans MS", "Comic Sans", cursive;
    color: black;
}

a.links:hover {
    color: grey;
}

.footer{
    display: flex;
    justify-content: center;
    text-decoration: none;
}

#foot-link{
    text-decoration: none;
}