<!DOCTYPE html>
<html lang="en">

<head>

    <!-- Main/Important Meta -->
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link rel="canonical" href="https://pullakmohapatra.io">

    <!-- Icons -->
    <link rel="shortcut icon" sizes="16x16 24x24 32x32 48x48 64x64" href="">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <!-- Styles -->
    <link rel="stylesheet" href="{{url_for('static',filename='css/style.css')}}">
    {% block styles %}{% endblock %}

    <!-- Scripts-->
    <script src="{{url_for('static',filename='js/main.js')}}"></script> 

    <!-- Meta information -->
    <meta name="author" content="Pullak Mohapatra">
    <meta name="description" content="Pullak Mohapatra's personal website and blog.">
    <meta name="keywords" content="blog programming student resume technology talks">

</head>

<body>
    <header>
        <div id="header">
            <!-- ===== NAVBAR ===== -->
            <div class="nav-bar">
                <a class="name" href="{{url_for('index')}}">
                    <h2>Pullak Mohapatra</h2>
                </a>
                <span class="links"><a class="links" href="{{url_for('index')}}">Home</a>
                    <a class="links" href="{{url_for('projects')}}">projects</a>
                    <a class="links" href="{{url_for('blog')}}">blog</a>
                    <a class="links" href="{{url_for('contact')}}">contact</a>
                </span>
            </div>
        </div>
    </header>
    <main>
        <div id="content">{% block content %}{% endblock %}</div>
    </main>
    <footer>
        <div class="footer">
            <footer class="page-footer">
                <p>© Pullak Mohapatra | <a href="mailto:pullak@pmohapatra.com"
                        target="_blank">pullak@pmohapatra.com </a></p>
        </div>
    </footer>
</body>

</html>