<!DOCTYPE html>
<html lang="en">

<head>

    <!-- Main/Important Meta -->
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link rel="canonical" href="https://pullakmohapatra.io">

    <!-- Icons -->
    <link rel="shortcut icon" sizes="16x16 24x24 32x32 48x48 64x64" href="">

    <!-- Styles -->
    <link rel="stylesheet" href="{{url_for('static',filename='css/style.css')}}">

    <!-- Meta information -->
    <meta name="author" content="Pullak Mohapatra">
    <meta name="description" content="Pullak Mohapatra's personal website and blog.">
    <meta name="keywords" content="blog programming student resume technology talks">

</head>

<body>
    <header>
        <div id="header">
            <!-- ===== NAVBAR ===== -->
            <div class="nav-bar">
                <a class="links" href="{{url_for('index')}}"><h2>Pullak Mohapatra</h2></a>
                <a class="links" href="{{url_for('index')}}"><li>Home</li></a>
                <a class="links" href="{{url_for('projects')}}"><li>projects</li></a>
                <a class="links" href="{{url_for('blog')}}"><li>blog</li></a>
                <a class="links" href="{{url_for('contact')}}"><li>contact</li></a>
            </div>
        </div>
    </header>
	<main>
        <div id="content">{% block content %}{% endblock %}</div>
    </main>
    <footer>
        <div id="footer"></div>
    </footer>
</body>

</html>
